<div class="container">

  <a href="#" class="overlay-close" aria-label="Fechar" ui-sref="dashboard"></a>

  <div class="row">
    <div class="col-lg-12">
      <header class="service">
        <div class="header-main-content">
          <h1>{{ service.slug | translate }}</h1>
          <div class="breadcrumbs">
            <a href="#" class="breadcrumb">Self Service</a>
            <a href="#" class="breadcrumb">{{ service.slug | translate }}</a>
          </div>
        </div>
        <div class="service-main-actions">
          <!-- Checkbox -->
          <div class="toggle" ng-class="{ active: service.status === 'active' }" ng-click="toggleServiceState($event)">
            <input type="checkbox" ng-checked="service.status === 'pending' || service.status === 'active'" id="checkbox" name="check">
            <label for="checkbox"></label>
            <span class="status active">{{ 'active' | translate }}</span>
            <span class="status pending">{{ 'pending' | translate }}</span>
            <span class="status activate">{{ 'activate' | translate }}</span>
            <span class="working">
              <i></i>
              <i></i>
              <i></i>
            </span>
          </div>
          <!-- End -->
        </div>
      </header>
    </div>
  </div>


  <div ng-if="service.slug === 'vpn'" service-vpn="service"></div>
  <div ng-if="service.slug === 'wifi'" service-wifi="service"></div>
  <div ng-if="service.slug === 'afs'" service-afs="service"></div>
  <div ng-if="service.slug === 'database'" service-database="service"></div>
  <div ng-if="service.slug === 'email'" service-email="service"></div>


</div>

<footer class="modal-footer">
	<div class="container">
		<div class="row">
		  <div class="col-lg-12">
		    <button type="button" class="btn btn-lg btn-default">Default</button>
		    <button type="button" class="btn btn-lg btn-primary">Primary</button>
		  </div>
		</div>
	</div>
</footer>