<input type="text" ng-model="$query" placeholder="Pesquisa" class="form-control" style="margin-top: 20px" ng-enter="searchUser($query)" />
<br>

<table class="table" ng-if="users.length > 0">
  <thead>
    <tr>
      <th class="col-lg-1">Photo</th>
      <th>Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td><img src="" alt=""></td>
      <td ui-sref="admin.view-user({ username: user.id })">{{user.name}}</td>
      <td>{{user.id}}</td>
    </tr>
  </tbody>
</table>